<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sg_mac.microbe-growing</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/sg_mac/microbe-growing/start-prod.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/sg_mac/microbe-growing</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/sg_mac</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/sg_mac/Library/Logs/com.sg_mac.microbe-growing.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/sg_mac/Library/Logs/com.sg_mac.microbe-growing.err.log</string>
</dict>
</plist>
